<h1 class="h1 text-primary text-center">Programs</h1>
<div class="row card-deck">
    <div class="card col-sm-4" *ngFor="let s of progs">
        <div class="card border-primary">
            <div class="card-body">
                <h4 class="card-title">{{s.programTitle}}</h4>
                <h6 class="card-subtitle text-muted">{{s.programCode}}</h6>
                <table class="table table-compact table-bordered table-hover">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Class</th>
                            <th>Schedules</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of s.classes">
                            <td>{{c.subClass}}</td>
                            <td>
                                <button [disabled]="act.isProcessing" (click)="subscribe(c)" title="Subscribe to {{c.subClass}}" class="btn btn-sm btn-success" type="button">
                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- <button type="button" routerLink="/assignment/{{s.semesterTasksID}}" class="btn btn-outline-dark"
                    title="Start the session">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </button> -->
            </div>
        </div>
    </div>
</div>