<h1 class="h1 text-primary text-center">Manage classes</h1>
<div class="row">
    <div class="col-sm-2">
        <button type="button" class="btn btn-primary" title="Add a new class" routerLink="/classes/add/{{classes[0].programsID}}">
            <i class="fa fa-folder" aria-hidden="true"></i> New class
        </button>
    </div>
</div>
<div class="row">
    <div class="card col-sm-4" *ngFor="let c of classes">
        <div class="card-body">
            <h4 class="card-title">{{c.subClass}}</h4>
            <p class="card-subtitle text-muted">{{c.mainName??'-'}}</p>
            <p class="card-subtitle text-muted">{{c.students}} students</p>
            <p class="card-subtitle text-muted">Semester: {{c.semestersID??'-'}}</p>
        </div>
        <div class="card-body">
            <button type="button" [routerLink]="['/classes/edit/', c.classesID]" routerLinkActive="router-link-active"
                [disabled]="!c.isActive" class="btn btn-secondary" title="Edit {{c.subClass}}">
                <i class="fa fa-pencil" aria-hidden="true"></i> Edit
            </button>
            <button type="button" class="btn btn-light" routerLink="/classes/manage/{{c.classesID}}"
                [disabled]="!c.isActive || act.isProcessing" title="Manage {{c.subClass}}">
                <i class="fa fa-cogs" aria-hidden="true"></i> Manage
            </button>
            <button type="button" (click)="deactivate(c)" class="btn card-button"
                title="Deactivate the class" [ngClass]="c.isActive ? 'btn-success' : 'btn-warning'">
                <i class="fa fa-trash-o" aria-hidden="true"></i> {{c.isActive ? 'Activated' : 'Deactivated'}}
            </button>
        </div>
    </div>
</div>