<h1 class="h1 text-primary text-center" routerLink="/class-results/{{cls.classesID}}">Results entry for {{cls.subClass}}</h1>
<h2 class="h2 text-center text-infor">{{tps.typeName}} - Max: {{tps.weight}}</h2>
<form name="form" id="form" [formGroup]="form" (submit)="save(form.value)">
    <fieldset>
        <legend class="text-center"></legend>
        <div class="row g-3">
            <div class="form-floating mb-3 col-sm-3">
                <input type="text" name="examName" class="form-control" id="examName" title="Add the name of this exam"
                    formControlName="examName" placeholder="Name for this exam">
                <label
                    [ngClass]="form.controls.examName.touched && form.controls.examName.invalid  ? 'text-danger' : 'text-success'"
                    for="examName" aria-label="examName">Exam Name
                    <span>
                        <small [ngClass]="form.controls.examName.errors?.max ? 'text-danger' : ''"
                            *ngIf="form.controls.examName.errors?.max">
                            {{form.controls.examName.errors?.max.max}}/{{form.controls.examName.errors?.max.actual}}</small>
                        <small [ngClass]="form.controls.examName.errors?.required ? 'text-danger' : ''"
                            *ngIf="form.controls.examName.errors?.required">*</small>
                        <small [ngClass]="form.controls.examName.errors?.min ? 'text-danger' : ''"
                            *ngIf="form.controls.examName.errors?.min">
                            {{form.controls.examName.errors?.min.min}}/{{form.controls.examName.errors?.min.actual}}</small>
                    </span>
                </label>
            </div>
            <div class="form-floating mb-3 col-sm-3">
                <input type="number" name="semester" class="form-control" id="semester" title="semester"
                    formControlName="semester" placeholder="semester">
                <label
                    [ngClass]="form.controls.semester.touched && form.controls.semester.invalid  ? 'text-danger' : 'text-success'"
                    for="semester" aria-label="semester">Semester
                    <span>
                        <small [ngClass]="form.controls.semester.errors?.max ? 'text-danger' : ''"
                            *ngIf="form.controls.semester.errors?.max">
                            {{form.controls.semester.errors?.max.max}}/{{form.controls.semester.errors?.max.actual}}</small>
                        <small [ngClass]="form.controls.semester.errors?.required ? 'text-danger' : ''"
                            *ngIf="form.controls.semester.errors?.required">*</small>
                        <small [ngClass]="form.controls.semester.errors?.min ? 'text-danger' : ''"
                            *ngIf="form.controls.semester.errors?.min">
                            {{form.controls.semester.errors?.min.min}}/{{form.controls.semester.errors?.min.actual}}</small>
                    </span>
                </label>
            </div>
            <div class="form-floating mb-3 col-sm-3">
                <input type="text" name="course" class="form-control" id="course" title="course"
                    formControlName="course" placeholder="Course">
                <label
                    [ngClass]="form.controls.course.touched && form.controls.course.invalid  ? 'text-danger' : 'text-success'"
                    for="course" aria-label="course">Course                    
                    <span>
                        <small [ngClass]="form.controls.course.errors?.minLength ? 'text-danger' : ''"
                            *ngIf="form.controls.course.errors?.minLength">
                            {{form.controls.course.errors?.max.minLength}}/{{form.controls.course.errors?.max.actualLength}}</small>
                        <small [ngClass]="form.controls.course.errors?.required ? 'text-danger' : ''"
                            *ngIf="form.controls.course.errors?.required">*</small>
                        <small [ngClass]="form.controls.course.errors?.maxlength ? 'text-danger' : ''"
                            *ngIf="form.controls.course.errors?.maxLength">
                            {{form.controls.course.errors?.min.maxlength}}/{{form.controls.course.errors?.min.actuallength}}</small>
                    </span>
                </label>
            </div>
            <div class="form-floating mb-3 col-sm-3">
                <input type="number" name="maxScore" class="form-control" id="maxScore"
                    title="Maximum score possible for this assessment" formControlName="maxScore"
                    placeholder="maxScore">
                <label
                    [ngClass]="form.controls.maxScore.touched && form.controls.maxScore.invalid  ? 'text-danger' : 'text-success'"
                    for="maxScore" aria-label="maxScore">Max Score
                    <span>
                        <small [ngClass]="form.controls.maxScore.errors?.max ? 'text-danger' : ''"
                            *ngIf="form.controls.maxScore.errors?.max">
                            {{form.controls.maxScore.errors?.max.max}}/{{form.controls.maxScore.errors?.max.actual}}</small>
                        <small [ngClass]="form.controls.maxScore.errors?.required ? 'text-danger' : ''"
                            *ngIf="form.controls.maxScore.errors?.required">*</small>
                        <small [ngClass]="form.controls.maxScore.errors?.min ? 'text-danger' : ''"
                            *ngIf="form.controls.maxScore.errors?.min">
                            {{form.controls.maxScore.errors?.min.min}}/{{form.controls.maxScore.errors?.min.actual}}</small>
                    </span>
                </label>
            </div>
            <div class="col-1">
                <button type="submit" class="btn" title="Save details" [disabled]="form.invalid || act.isProcessing"
                    [ngClass]="form.invalid ? 'btn-outline-danger' : 'btn-outline-success'">
                    <i class="fa fa-save" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </fieldset>
</form>

<h2 class="h2 text-center text-secondary">Schedules</h2>
<table class="table table-striped table-inverse table-sm">
    <thead class="thead-inverse">
        <tr>
            <th>Exam</th>
            <th>Course</th>
            <th>Semester</th>
            <th>Max Score</th>
            <td>Date</td>
            <th>Upload</th>
            <th>Manual</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let s of schs; let ix = index">
            <td scope="row">{{s.examName}}</td>
            <td>{{s.course}}</td>
            <td>{{s.semester}}</td>
            <td>{{s.maxScore}}</td>
            <td>{{s.dateAdded |date}}</td>
            <td>
                <button type="button" class="btn btn-outline-success" title="Upload results using a template">
                    <i class="fa fa-upload" aria-hidden="true"></i>
                </button>

            </td>
            <td>
                <button type="button" routerLink="/results-entry/home/{{cls.classesID}}/{{s.assessmentsID}}"
                    routerLinkActive="router-link-active" class="btn btn-outline-secondary"
                    title="Manual data entry for {{s.examName}} for {{cls.subClass}}">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
            </td>
            <td>
                <button type="button" routerLink="/results-entry/{{cls.classesID}}/{{s.assessmentsID}}/view-results" class="btn btn-outline-warning card-button"
                    title="View all entries for {{s.examName}} for {{cls.subClass}}">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>